h1 {
    text-align: center;
}
#commit2 {
    background: rgb(131, 82, 131);
    color: rgb(226, 212, 212);
}
.commit3 {
    margin: 20px;
    background-color: aquamarine;   
}
.commit,
 button {
    color: blue;
    margin-left: 50%;
    margin-bottom: 10px;
}
body {
	background: linear-gradient(-30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 100% 150%;
	animation: gradient 15s ease infinite;
}
.main {
    margin-top: 80px;
    text-align: center;
}